<% for (let i = 0; i < receivedMails.length; i++) { %>
<!--start the iteration-->
<div id='mailContainer'>
    <a id="subjectLink" href="/inbox/mail/<%= receivedMails[i]._id %>">
        <h3 id="mailSubject" style="z-index: 10;
        <% if (!receivedMails[i].read) { %>
        font-weight: bold; font-size: 1.5rem;
        <% } %>
        "><%= receivedMails[i].subject %></h3>
    </a>

    <p id="timestamp"><%= receivedMails[i].created_at.toString().slice(4,21) %></p>

    <p id="senderID">
        <i class="fa fa-reply" aria-hidden="true"></i>
        <%= receivedMails[i].sender %><br>

        <!--check for read, fav, spam, del status-->
        <a href="/api/toggle/<%- receivedMails[i]._id %>/read">
            <% if (receivedMails[i].read) { %>
            <i class="fa fa-envelope-open"></i><br></a>
        <% } else { %>
        <i class="fa fa-envelope"></i><br></a>
        <% } %>

        <a href="/api/toggle/<%- receivedMails[i]._id %>/favorite">
            <% if (receivedMails[i].favorite) { %>
            <i class="fa fa-star"></i><br></a>
        <% } else { %>
        <i class="fa fa-star-o"></i><br></a>
        <% } %>

        <a href="/api/toggle/<%- receivedMails[i]._id %>/spam">
            <% if (receivedMails[i].spam) { %>
            <button>not spam!</button> </a>
        <% } else {  %>
        <button>mark as spam</button></a>
        <% } %>

        <a href="/api/toggle/<%- receivedMails[i]._id %>/deleted">
            <i class="fa fa-trash"></i><br>
        </a>
    <!--mail body-->
    <p id="mailDetails"><%= receivedMails[i].details %></p>
</div>
<% } %>